@model RestoranUygulaması.UI.Models.SiparisOlusturViewModel

<h1>Menü</h1>
<br />

@if (ViewBag.Message != null)
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>Siparişiniz alınmıştır!</strong> Afiyet olsun.
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}

<div class="card">
    <div class="card-body">
        <table class="table table-hover align-middle">
            <thead>
                <tr scope="col">
                    <td>#</td>
                    <td>Ad</td>
                    <td>Fiyat</td>
                    <td></td>
                </tr>
            </thead>
            <tbody>
                <tr scop="row">
                    <td style="width: 200px"><img src="@Url.Content("~/img/hamburger.jpg")" width="180" /></td>
                    <td>Hamburger</td>
                    <td>150</td>
                    <td>
                        <form asp-controller="Siparis" asp-action="SiparisEt" method="post" class="mt-3">

                            <input asp-for="Ad" value="Hamburger" hidden />
                            <input asp-for="Fiyat" value="150" hidden />

                            <div class="mt-3">
                                <button type="submit" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#exampleModal">Sipariş Et</button>
                            </div>

                        </form>
                    </td>
                </tr>
                <tr scop="row">
                    <td style="width: 200px"><img src="@Url.Content("~/img/pizza.jpg")" width="180" /></td>
                    <td>Pizza</td>
                    <td>200</td>
                    <td>
                        <form asp-controller="Siparis" asp-action="SiparisEt" method="post" class="mt-3">

                            <input asp-for="Ad" value="Pizza" hidden />
                            <input asp-for="Fiyat" value="200" hidden />

                            <div class="mt-3">
                                <button type="submit" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#exampleModal">Sipariş Et</button>
                            </div>

                        </form>
                    </td>
                </tr>
                <tr scop="row">
                    <td style="width: 200px"><img src="@Url.Content("~/img/sandwich.jpg")" width="180" /></td>
                    <td>Sandiviç</td>
                    <td>100</td>
                    <td>
                        <form asp-controller="Siparis" asp-action="SiparisEt" method="post" class="mt-3">

                            <input asp-for="Ad" value="Sandiviç" hidden/>
                            <input asp-for="Fiyat" value="100" hidden />

                            <div class="mt-3">
                                <button type="submit" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#exampleModal">Sipariş Et</button>
                            </div>

                        </form>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

