@model RestoranUygulaması.UI.Models.KayitOlViewModel


<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">

        <h1 class="mt-3">Register</h1>

        <form asp-controller="Kullanici" asp-action="KayitOl" method="post" class="mt-3">

            <div class="mt-3">
                <label asp-for="Ad" class="form-label">Ad</label>
                <input asp-for="Ad" type="text" class="form-control" />
                <span asp-validation-for="Ad" class="text-danger"></span>
            </div>

            <div class="mt-3">
                <label asp-for="Sifre" class="form-label">Sifre</label>
                <input asp-for="Sifre" type="password" class="form-control" />
                <span asp-validation-for="Sifre" class="text-danger"></span>
            </div>

            <div class="mt-3">
                <button type="submit" class="btn btn-primary">Kayit Ol</button>
            </div>

        </form>

    </div>
    <div class="col-md-4"></div>
</div>